<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
     @Styles.Render("~/Content/kendo/css")
   

    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/kendo/kendo.all.min.js"></script>
</head>
<body>
   
    <div class="container-fluid">
        <div class="row">
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/kendo")
            @Scripts.Render("~/bundles/bootstrap")

            @{Html.RenderAction("GetMenuItems", "Menu");}
            @RenderBody()


        </div>
       
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
