<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
     @Styles.Render("~/Content/kendo/css")
   

    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/kendo/kendo.all.min.js"></script>
</head>
<body>
   
    <div class="body-content">
        
        @Scripts.Render("~/bundles/jquery")
       
        
        @{Html.RenderAction("GetMenuItems", "Menu");}
        @RenderBody()
       
    </div>

    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
